.title-area {
  display: flex;
  align-items: center;
  margin: 20px;
}
.navLogo {
  height: 50px;
  width: 70px;
}
.title-area h2 {
  color: #962feb;
  margin-left: 10px;
}

.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gym-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* cart container start  */
.cart-container {
  box-shadow: 1px 1px 8px 6px lightgray;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
}

.userArea {
  display: flex;
  align-items: center;
}
.userArea img {
  height: 60px;
  width: 60px;
}
.userArea h4 {
  margin: 0;
}

.userBodyInfo {
  background: rgb(241, 237, 237);
}

.userBodyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-radius: 10px;
}

.userBodyInfo > div > h4 {
  margin: 0;
  font-size: 26px;
}
.userBodyInfo > div > h4 small {
  color: gray;
  font-size: 15px;
  margin-left: 2px;
}
.break-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(238, 234, 234);
  border-radius: 10px;
  height: 80px;
}
.break-btns button {
  background: white;
  border-radius: 50%;
  border: 1px solid #962feb;
  outline: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px;
  font-weight: 500;
}
.break-btns button:hover {
  background: #962feb;
  color: white;
}

/* exercise details  */
.exercise-time,
.break-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: rgb(236, 233, 233);
  margin: 20px 0;
}

.exercise-time p,
.break-time p {
  font-weight: bold;
}
.complete-btn {
  width: 95%;
  outline: none;
  padding: 10px 25px;
  border-radius: 5px;
  background: #962feb;
  border: 2px solid #962feb;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: auto;
  color: white;
}
.complete-btn:hover {
  background: #6c19af;
  color: white;
}
/* media queries  */
@media screen and (max-width: 1275px) {
  .gym-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 930px) {
  .gym-container {
    grid-template-columns: 1fr;
    width: 400px;
  }
}
@media screen and (max-width: 570px) {
  .gym-container {
    grid-template-columns: 1fr;
    width: 300px;
  }
}
