.title-area {
  display: flex;
  align-items: center;
  margin: 20px;
}
.navLogo {
  height: 50px;
  width: 70px;
}
.title-area h2 {
  color: #962feb;
  margin-left: 10px;
}

.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gym-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* media queries  */
@media screen and (max-width: 1275px) {
  .gym-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 930px) {
  .gym-container {
    grid-template-columns: 1fr;
    width: 400px;
  }
}
@media screen and (max-width: 570px) {
  .gym-container {
    grid-template-columns: 1fr;
    width: 300px;
  }
}
